<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <title>p-semi 最終課題 C班</title>
    <link rel="stylesheet" href="/static/css/explain.css">
    <link rel="icon" href="/static/image/favicon.png">
    <script>
        (function(d) {
          var config = {
            kitId: 'ydn4scx',
            scriptTimeout: 3000,
            async: true
          },
          h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
      </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg" style="background-color:rgba(58, 58, 58, 0.836);" fixed-top>
        <!-- .container-fluid -->
        <div class="container-fluid">
            <!-- ロゴ-->
            <a class="navbar-brand">
                <img src="static/image/nav_logo.png" alt="ブランド" width="300rem" class="d-inline-block align-top">
            </a>
            <div class="collapse navbar-collapse justify-content-end" id="Navber">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Top</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/member">Member</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://tdu-isl.github.io/home/">ISL</a>
                    </li>
            </div>
            <!-- /.navbar-->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <main>
        <div class="container-main">
            <div class="row">
                <div class="col-md-6">
                    フィッシング詐欺とは...
                </div>
                <div class="col-md-6">
                    フィッシングによる脅威
                </div>
            </div>
        </div>

        <div class="container-text">
            <div class="row">
                <div class="col-md-6">
                    パスワード変更や購入完了の通知などのメールを送り<br>
                    正規の金融機関やショッピングサイトなどに偽装した<br>
                    Webサイトに誘導し、IDやパスワード、住所など<br>
                    個人情報を入力させて詐取する行為
                </div>
                <div class="col-md-6">
                    IPAが発表した「情報セキュリティ10大脅威2022」では<br>
                    個人部門で「フィッシングによる個人情報の詐取」が<br>
                    昨年より順位を上げて1位にランクインしている
                </div>
            </div>
        </div>

        <div class="container-text2">
            <div class="row">
                <div class="col-md-6">
                    フィッシングサイトはフィッシング詐欺で誘導した<br>
                    偽サイトのことを指す<br>
                    また、フィッシング詐欺に使われるなりすましメールを<br>
                    フィッシングメールと呼ぶ
                </div>
                <div class="col-md-6">
                    また、JPCERT/CCの統計調査を見ると8月頃から<br>
                    AmazonやETC利用照会サービスサイトをかたった<br>
                    フィッシングサイトの報告が増加したこともあり<br>
                    2,000件を超える状況が続いた
                </div>
            </div>
        </div>

        <div class="container-text3">
            <div class="row">
                <div class="col-md-6">
                    参考：<a href="https://www.ipa.go.jp/security/vuln/10threats2022.html" target="_blank">https://www.ipa.go.jp/security/vuln/10threats2022.html</a>
                </div>
                <div class="col-md-6">
                    参考：<a href="https://blogs.jpcert.or.jp/ja/2022/04/phishing2021.html" target="_blank">https://blogs.jpcert.or.jp/ja/2022/04/phishing2021.html</a>
                </div>
            </div>
        </div>
    </main>
</body>

</html>