{% extends "base.html" %}

{% block content %}
<div id="profile_page">
    <div id="user_status">
        <h2>{{ User.username }}</h2>
        <p class="followBtn">フォローする</p>
    </div>
    <div id="user_post">
    </div>
</div>

<style type="text/css">
    * {
        margin: 0;
        padding: 0;
        background-repeat: repeat-y;
    }

    #profile_page {
        padding-left: 3%;
    }

    #user_status {
        display: inline-block;
    }

    .followBtn {
        display: inline-block;
        border: 1.5px solid #ddd;
        padding: 2px 8px;
        font-size: 16.5px;
    }

    #user_post {
        display: inline-block;
        vertical-align: top;
        margin-left: 70px;
    }

    .list-t {
        font-size: 1.9rem;
        font-weight: 700;
    }
</style>
{% endblock %}