<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>reCAPTCHA-TEST</title>
    <script src="https://www.google.com/recaptcha/enterprise.js" async defer></script>
    <script>
    function onSuccess(token) {
      console.log(token);
    }
    // window.onload = function() {
    //   t = document.getElementById("rc-test1");
    //   for (let i = 0; i < 1000000; i++) {
    //     t.click();
    //   }
    // }
    window.onload = function() {
      t = document.getElementById("empty");
      for (let i = 0; i < 10000; i++) {
        t.click();
      }
      for (let i = 0; i < 5000; i++) {
        window.scroll(0, i+1);
      }
      for (let i = 0; i < 5000; i++) {
        window.scroll(0, 5000 - (i+1))
      }
      // for (let i = 0; i < 5000; i+=10) {
      //   for (let j = 0; j < screen.availWidth; j+=10) {
      //     window.scroll(j, i);
      //   }
      // }
    }
    </script>
  </head>
  <body>
    <h1>TEST</h1>
    <div id="empty" style="height: 5000px;"></div>
    <form id="rc-test1" method="post">
      <div class="g-recaptcha" data-sitekey={{ sitekey }} data-callback="onSuccess"></div>
      <input id="rc-submit" type="submit" value="submit">
    </form>
  </body>
</html>
