{% extends './base.html' %}
{% load static %}

{% block title %}ポスト一覧{% endblock %}
{% block head %}
<link href="{% static 'css/posts.css' %}" rel="stylesheet">
{% endblock %}
{% load cloudinary %}

{% block content %}
<div class="container mt-5 mb-5">
    <h2>投稿一覧</h2>
    {% if user.is_authenticated %}
    <div class="post-create">
        <a href='{% url "post:create" %}' class="btn btn-secondary mb-3">新しいポストを投稿</a>
    </div>
    {% endif %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">

        {% for post in object_list %}
        <div class="col mb-3">
            <div class="card">
                <h5 class="card-header">Poster: <a
                        href="{% url 'accounts:profile' post.account.username %}">{{ post.account }}</a></h5>
                <div class="card-body">
                    <p class="card-text">{{ post.content }}</p>
                </div>
                <a href="{{ post.image.url }}" data-toggle="lightbox">
                    <img src="{{ post.image.url }}" class="img-fluid mb-3 d-block">
                </a>
                <div class="card-footer text-muted">
                    {{ post.created_at }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}