{% extends "base.html" %}

{% block body %}

    <!-- Jumbotron -->
    <div id="fadeContent" class="content p-5 bg-light" style=" height: 100%;">
        <h1 class="mb-3 text-center">Result</h1>
        <h4 class="mb-3 text-center">Enjoy watching videos!</h4>

    {% if not alert %}


    {% else: %}

        <div class="row">
            <div class="col-12">
                <div class="alert alert-primary d-flex align-items-center" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                         class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
                         aria-label="Warning:">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                    <div>
                        {{ alert }}
                    </div>
                </div>
            </div>
        </div>

    {% endif %}


        <div class="row pb-2">
            <div class="col-12">
                <p class="fs-3">Keyword:{{ word }}</p>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-12">
                <form action="/" method="POST">

                    <div class="input-group">
                        <input name="word" value="{{ word }}" type="hidden"/>
                        <div class="form-outline justify-content-end">
                            <div class="select">
                                <select class="select-text" name="sortPattern" required>
                                    <option value="" disabled selected></option>
                                    <option value="asc_videoCount">再生数少ない順</option>
                                    <option value="des_videoCount">再生数多い順</option>
                                    <option value="asc_playTime">再生時間少ない順</option>
                                    <option value="des_playTime">再生時間多い順</option>
                                    <option value="asc_postTime">投稿日時早い順(古い)</option>
                                    <option value="des_postTime">投稿日時遅い順(新しい)</option>
                                </select>
                                <span class="select-highlight"></span>
                                <span class="select-bar"></span>
                                <label class="select-label">並び替え</label>

                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            並び替える
                        </button>
                    </div>


                </form>
            </div>
        </div>


        <div class="row">


            {% for video in db_videoInfo %}
                <div class="col-xl-6 col-lg-12 mb-5">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4 pt-3 pb-3 img-fluid d-flex align-items-center justify-content-center">
                                <a href="{{ video.videoURL }}" target="_blank"> <img
                                        src="{{ video.imageURL }}"
                                        alt="{{ video.title }}"
                                        class="rounded"
                                        width="250px"
                                /></a>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="fw-bold"><a href="{{ video.videoURL }}"
                                                           target="_blank">{{ video.title }}</a></h5>
                                    <div class="overflow-auto text-left fw-light bg-light" style="max-height: 120px;">
                                        <small>
                                            {{ video.description }}
                                        </small>
                                    </div>

                                    <p class="card-text">
                                        <small class="text-muted"> {{ video.viewCount }} views // by {{ video.channel }}
                                            <br> length: {{ video.playTime }}s // date: {{ video.postTime }}
                                            // from {{ video.kind }}</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            {% endfor %}


        </div>

    </div>
    <!-- Jumbotron -->

{% endblock %}