<!doctype html>
<html lang="ja">

<head>
  <title>reCAPTCHA-Practice</title>
  <meta http-equiv="content-type" charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="index.css" rel="stylesheet">
  <link href="../static/css/detail.css" rel="stylesheet">
</head>

<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h3 class="my-0 mr-md-auto font-weight-normal">GoogleのreCAPTCHAとは</h3>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="/">ホーム</a>
      <a class="p-2 text-dark" href="">GoogleのreCAPTCHAとは</a>
      <a class="p-2 text-dark" href="add">もっと知りたい人向け</a>
    </nav>
  </div>
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-3 text-center bg-light">
    <h1 class="display-4">reCAPTCHAとは</h1>
    <p class="lead">Googleが無料で提供している、"botと人間を区別するため"のサービスです。</p>
    <p class="lead">また、botと人間を区別するための試験のことを、"CAPCHA"と言います。</p>
    <p class="lead">"CAPTHA"自体はGoogle以外の企業も提供してますが、"reCAPTCHA"と表記されている場合は、Googleが提供したサービスを指します。</p>

    <div class="mx-5 text-dark py-2 border border-dark">
      <p class="lead ">"CAPCHA"と"reCAPTCHA"の違い</p>
      <ul class="mx-5">
        <li class="text-left">CAPCHA　・・・botと人間を区別するための試験、Google以外の企業もサービスを提供</li>
        <li class="text-left">reCAPCHA・・・Googleが提供している無料サービスの名称。</li>
      </ul>
    </div>

    <div class="border border-primary mx-5 py-2 mt-3">

      <p class="lead">認証方法</p>
      <p class="">1."私はロボットではありません"のボタンをクリックする。</p>
      <img src="../static/img/認証ボタン.png" alt="認証ボタン">
      <p>※上図のどこかをクリック</p>
      <p class="mt-4">2.表示された内容に従って操作を行う。</p>
      <p>&lt;指定された物の画像を選択する場合&gt;</p>
      <p>指定された物が映っている画像をクリックする。</p>
      <div class="yoko">
        <img class="img_ninsyou" src="../static/img/認証01.png" alt="認証01">
        <div class="right">→</div>
        <img class="img_ninsyou" src="../static/img/認証01_選択後.png" alt="認証01_選択後">
      </div>
      <p class="mt-4">&lt;指定された物が表示されている部分を選択する場合&gt;</p>
      <p>指定されたものが全部選択できるように画像を選択する。</p>
      <div class="yoko"><img class="img_ninsyou" src="../static/img/認証02.png" alt="認証02">
        <div class="right">→</div>
        <img class="img_ninsyou" src="../static/img/認証02_選択後.png" alt="認証02_選択後">
      </div>
      <p class="mt-4">3."確認"ボタンをクリックする。</p>
      <img class="img_ninsyou" src="../static/img/確認ボタン.png" alt="確認ボタン">
      <p class="mt-4">4.チェックマークが付けられれば認証成功！！</p>
      <img src="../static/img/認証完了.png" alt="認証完了">
      <p class="mt-4">※方法通りに行ってもうまくいかない場合は、ページ自体を更新、もしくは、下図で示している部分のマークをクリックすると新たに認証作業を行うことができます。</p>
      <img class="img_ninsyou" src="../static/img/更新ボタン.png" alt="更新ボタン">
      <p class="mt-4">※チェックマークがついた状態で約1分放置すると、期限切れになるので注意してください。</p>
      <img src="../static/img/認証_時間切れ.png" alt="認証_時間切れ">

    </div>
  </div>
</body>

</html>