nav{
text-align: center;
}
nav ul{
margin: 0 ;
padding: 0 ;
}
nav li{
list-style: none;
display: inline-block;
width: 10%;
min-width: 90px;
}
nav li:not(:last-child){
border-right:2px solid #ddd;
}
nav a{
text-decoration: none;
color: #333;
}
nav a.current{
color: #00B0F0;
border-bottom:2px solid #00B0F0;
}
nav a:hover{
color:#F7CB4D;
border-bottom:2px solid #F7CB4D;
}

ul{
display: table;
margin: 0 auto;
padding: 0;
width: 80%;
text-align: center;
}
ul li{
display: table-cell;
min-width: 50px;
}
ul li a{
display: block;
width: 100%;
padding: 10px 0;
text-decoration: none;
color: #555;
font-weight: bold;
}
ul li.current{
background-color: #DEEBF7;
}
ul li.current a{
color: #555;
}
ul li:hover{
background-color: #FFF2CC;
}