<!doctype html>
<html lang="ja">

<head>
    <link rel="dns-prefetch" href="//www.googletagmanager.com">
    <link rel="dns-prefetch" href="//dkhhsjgarvlsj.cloudfront.net">
    <link rel="dns-prefetch" href="//securepubads.g.doubleclick.net">
    <link rel="dns-prefetch" href="//cdn.jsdelivr.net">
    <link rel="dns-prefetch" href="//kit.fontawesome.com">
    <link rel="dns-prefetch" href="//shindanmaker.com">
    <link rel="dns-prefetch" href="//d22xqp4igu9v8d.cloudfront.net">
    <link rel="dns-prefetch" href="//en.shindanmaker.com">
    <link rel="dns-prefetch" href="//kr.shindanmaker.com">
    <link rel="dns-prefetch" href="//cn.shindanmaker.com">
    <link rel="dns-prefetch" href="//th.shindanmaker.com">
    <link rel="dns-prefetch" href="//d2uwvvx3nthmq1.cloudfront.net">
    <link rel="dns-prefetch" href="//twitter.com">
    <link rel="dns-prefetch" href="//line.me">
    <link rel="dns-prefetch" href="//www.facebook.com">
    <link rel="dns-prefetch" href="//mastoshare.net">
    <link rel="dns-prefetch" href="//mixi.jp">
    <link rel="dns-prefetch" href="//scdn.line-apps.com">
    <!-- CSS -->
    <link rel="stylesheet" href="static/css/app.css">
    <!--  -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <meta name="csrf-token" content="FTBnP9juLNGtyvSBmfq15il59I8xxI7zr0CA7ehY">
    <meta name="format-detection" content="telephone=no">
    <meta name="robots" content="max-image-preview:large">
    <link rel="shortcut icon" href="https://dkhhsjgarvlsj.cloudfront.net/img/favicons/favicon.ico">
    <link rel="apple-touch-icon" href="https://dkhhsjgarvlsj.cloudfront.net/img/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png"
        href="https://dkhhsjgarvlsj.cloudfront.net/img/favicons/android-chrome-192x192.png">
    <title>あなたを飲み物にしてみたー</title>
    <meta name="description" content="あなたはどんな飲み物でしょうか。「「I love you」をあなた風に翻訳したー」もどうぞ→http://shindanmaker.com/211384 他の診断もどうぞ→http://shindanmaker.com/author/qen000">
    <meta name="keywords" content=" 診断, 診断メーカー">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="あなたを飲み物にしてみたー">
    <meta name="twitter:image"
        value="https://d22xqp4igu9v8d.cloudfront.net/shindantitle/181846/card/3e7a4a055524197b31752a29e2dd0ad8aa422dc1_card_ZBjgp2bx.jpg?v=08dc32c4e99ae999fc6f62db2a58046576751552">
    <meta name="twitter:image:src"
        content="https://d22xqp4igu9v8d.cloudfront.net/shindantitle/181846/card/3e7a4a055524197b31752a29e2dd0ad8aa422dc1_card_ZBjgp2bx.jpg?v=08dc32c4e99ae999fc6f62db2a58046576751552">
    <meta property="og:image"
        content="https://d22xqp4igu9v8d.cloudfront.net/shindantitle/181846/card/3e7a4a055524197b31752a29e2dd0ad8aa422dc1_card_ZBjgp2bx.jpg?v=08dc32c4e99ae999fc6f62db2a58046576751552">
    <meta name="twitter:url" content="https://shindanmaker.com/181846">
    <meta property="og:title" content="あなたを飲み物にしてみたー">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://shindanmaker.com/181846">
    <meta property="og:site_name" content="診断メーカー">
    <meta property="og:description" content="あなたはどんな飲み物でしょうか。「「I love you」をあなた風に翻訳したー」もどうぞ→http://shindanmaker.com/211384 他の診断もどうぞ→http://shindanmaker.com/author/qen000">
    <link rel="canonical" href="https://shindanmaker.com/181846">
    <link rel="alternate" href="https://shindanmaker.com/181846" hreflang="ja">
    <link rel="alternate" href="https://en.shindanmaker.com/181846" hreflang="en">
    <link rel="alternate" href="https://kr.shindanmaker.com/181846" hreflang="ko">
    <link rel="alternate" href="https://cn.shindanmaker.com/181846" hreflang="zh">
    <link rel="alternate" href="https://th.shindanmaker.com/181846" hreflang="th">
</head>

<body>
    <!-- 左側のコンテンツ -->
    <div class="wrapper">
        <div class="main-screen">
    <!-- wrapperとmain-screenで囲む -->
            <div id="head-navbar" autoHide="1" class="container-fluid">
                <div id="head-navbar-container" class="container px-0">
                    <nav class="navbar navbar-expand pr-0"><a class="navbar-brand mr-1" href="/"><img id="navbar-logo"
                                class="align-middle"
                                src="https://dkhhsjgarvlsj.cloudfront.net/img/ShindanMakerLogo_Ja.svg?v=57144a003b3c573788862a0584571d679ddc8062"
                                alt="診断メーカー"></a><button class="navbar-toggler px-1" type="button"
                            data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                            aria-expanded="false" aria-label="Toggle navigation"><span
                                class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul id="head-navbar-nav" class="navbar-nav ml-auto">
                                <li class="nav-item"><a class="nav-link head-navbar-nav-link"
                                        href="https://shindanmaker.com/create" aria-label="つくる"><i
                                            class="fal fa-pen-square fa-fw"></i><span
                                            class="d-none d-md-inline ml-1">つくる</span></a></li>
                                <li class="nav-item"><a class="nav-link head-navbar-nav-link"
                                        href="https://shindanmaker.com/list" aria-label="人気診断"><i
                                            class="fal fa-th-list fa-fw"></i><span
                                            class="d-none d-md-inline ml-1">人気診断</span></a></li>
                                <li class="nav-item head-nav-item-hide"><a class="nav-link head-navbar-nav-link"
                                        href="https://shindanmaker.com/creators" aria-label="作者"><i
                                            class="fal fa-user fa-fw"></i><span
                                            class="d-none d-md-inline ml-1">作者</span></a>
                                </li>
                                <li class="nav-item head-nav-item-hide"><a class="nav-link head-navbar-nav-link"
                                        href="https://shindanmaker.com/timeline" aria-label="つぶやき"><i
                                            class="fal fa-comments-alt fa-fw"></i><span
                                            class="d-none d-md-inline ml-1">つぶやき</span></a></li>
                                <li class="nav-item">
                                    <div class="btn-group"><button class="btn btn-default pr-3" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false" aria-label="Menu"><img alt="guest avatar"
                                                class="head-navbar-avatar rounded-circle"
                                                src="https://dkhhsjgarvlsj.cloudfront.net/img/avatar_default.png?v=57144a003b3c573788862a0584571d679ddc8062"></button>
                                        <div id="head-navbar-dropdown" class="dropdown-menu dropdown-menu-right"><a
                                                href="https://shindanmaker.com/login" class="dropdown-item"><i
                                                    class="fal fa-sign-in-alt fa-fw mr-1"></i>ログイン</a>
                                            <div class="dropdown-divider"></div>
                                            <form class="px-4 py-2" method="GET"
                                                action="https://shindanmaker.com/list/search">
                                                <div class="input-group"><input type="text"
                                                        class="form-control form-control-sm" name="q"
                                                        placeholder="診断検索">
                                                    <div class="input-group-append"><button type="submit"
                                                            class="btn btn-secondary btn-sm"><i
                                                                class="fas fa-search"></i></button></div>
                                                </div>
                                            </form>
                                            <div class="dropdown-divider"></div><a class="dropdown-item"
                                                href="https://shindanmaker.com/create"><i
                                                    class="fal fa-pen-square fa-fw mr-1"></i>診断を作る</a><a
                                                class="dropdown-item" href="https://shindanmaker.com/list"><i
                                                    class="fal fa-th-list fa-fw mr-1"></i>人気診断</a><a
                                                class="dropdown-item" href="https://shindanmaker.com/creators"><i
                                                    class="fal fa-user fa-fw mr-1"></i>作者</a><a class="dropdown-item"
                                                href="https://shindanmaker.com/timeline"><i
                                                    class="fal fa-comments-alt fa-fw mr-1"></i>つぶやき</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div id="main-container">
                <div id="main" class="pt-3"><span id="shindan_before" class="d-none">0</span>
                    <div class="shindanTitleDescBlock">
                        <div class="px-3 px-md-4 text-center pt-2 mb-3 text-break">
                            <h1 id="shindanTitle" class="font-weight-bold mb-0 d-inline-block text-left"><a
                                    class="shindanTitleLink text-body text-decoration-none"
                                    href="https://shindanmaker.com/181846">あなたを飲み物にしてみたー</a></h1>
                        </div>
                        <div class="px-3 text-center pb-3">
                            <div id="shindanDescription" class="text-left d-inline-block text-break">
                                <div id="shindanDescriptionGradient" style="display: none;"></div><span
                                    id="shindanDescriptionDisplay">あなたはどんな飲み物でしょうか。「「I love you」をあなた風に翻訳したー」もどうぞ <a
                                        class="internalUrl mr-1" rel="ugc" href="http://shindanmaker.com/211384"
                                        target="_blank">http://shindanmaker.com/211384</a>)</span>
                                <div id="shindanDescriptionReadMore" class="text-left"><button
                                        id="shindanDescriptionReadMoreBtn" type="button"
                                        class="shindanDescriptionReadMoreBtn btn btn-xs btn-secondary"
                                        style="display: none;"><i class="fas fa-chevron-down fa-fw "></i></button></div>
                            </div>
                            <div class="text-left"><button type="button"
                                    class="shindanDescriptionReadMoreBtn btn btn-xs btn-secondary"
                                    style="display: none;"><i class="fas fa-chevron-up fa-fw "></i></button></div>
                        </div>
                    </div>
                    <div id="shindanInfo" class="mb-3">
                        <div class="px-3" id="shindanInfoFirstRow">
                            <div class="d-flex flex-row align-items-center py-2">
                                <div class="pr-4 text-nowrap text-truncate"><span title="作者"
                                        class="a label-user-shindan user-modal-show user-authorLabel-LYPD4MW71G"
                                        data-account_id="LYPD4MW71G"><img
                                            class="label-user-shindan-avatar rounded-circle mr-2 user-avatar-LYPD4MW71G"
                                            src="static/image/userlogo.png"
                                            alt="@islisl"><span
                                            class="user-screen_name-LYPD4MW71G">@islisl</span></span>
                                </div>
                                <div class="ml-auto text-right text-nowrap"><span title="診断人数"
                                        class="font-120 font-weight-bold d-inline-block shindan-detail-donenumber"><i
                                            class="fal fa-user mr-2"></i><span id="donenumber">10,324,234</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <div id="div-gpt-ad-1618976236043-0" style="min-height:280px" class="mt-2 mb-3"
                                data-google-query-id="CK_F2YGswPcCFaaB6QUdWj4F0w">
                                <div id="google_ads_iframe_/5794834/ShindanMaker/shindan110_0__container__"
                                    style="border: 0pt none;">
                                    <div class="creative">
                                        <div class="image-container">
                                            <img class="image" src="static/image/shindan_ad1.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-0 px-3 labels-row pb-2"><a class="mr-1 label-hot label"
                                href="https://shindanmaker.com/list"><i class="fal fa-fire mr-1"></i>Hot!</a><span
                                title="お気に入り" class="mr-1 label-favorite-container-181846"><span
                                    data-shindan_id="181846" class="a label-favorite label favorite-modal-show"><span
                                        class="icon-favorite"><i
                                            class="fal fa-star mr-1"></i></span>1,715</span></span><a title="みんなのつぶやき"
                                href="https://shindanmaker.com/181846/timeline" class="mr-1 label-common label"><i
                                    class="fal fa-comments-alt mr-1"></i>つぶやき</a><span id="btn-modal-shareShindan"
                                class="label cursor-pointer label-common mr-1" data-toggle="modal"
                                data-target="#modal-shareShindan"><i class="fal fa-share fa-fw mr-1"></i>シェア</span><span
                                class="label-etc label mr-1"><i class="fal fa-random mr-1"></i>結果パターン <b>33</b>
                                通り</span><span class="label-etc label mr-1" data-toggle="tooltip" data-placement="top"
                                data-original-title="毎日0時になると診断結果が変わります。"><i class="fal fa-calendar mr-1"></i>診断結果：<span
                                    class="daily_flag_1">日替わり</span></span></div>
                    </div>
                    <div class="modal fade" id="modal-shareShindan" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="h5 modal-title">シェアして友達にお知らせしよう！</h2><button type="button" class="close"
                                        data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <div class="d-flex justify-content-between mb-2"><a target="_blank"
                                            href="https://twitter.com/intent/tweet?text=%E3%81%82%E3%81%AA%E3%81%9F%E3%81%8C%E7%AA%81%E7%84%B6%E5%A5%BD%E3%81%8D%E3%81%AA%E4%BA%BA%E3%81%AB%E3%80%8E%E3%81%8E%E3%82%85%E3%83%BC%E3%81%A3%E3%81%A6%E3%81%97%E3%81%A6%E3%81%84%E3%81%84%EF%BC%9F%E3%80%8F%E3%81%A3%E3%81%A6%E8%A8%80%E3%82%8F%E3%82%8C%E3%81%9F%E3%83%BC%0A%23shindanmaker%0Ahttps%3A%2F%2Fshindanmaker.com%2F181846%3Fc%3D1"
                                            class="flex-fill pointer-events-auto text-center btn-twitter btn-share "><img
                                                class="btn-share-icon btn-share-icon-twitter"
                                                src="https://dkhhsjgarvlsj.cloudfront.net/img/share/share-icon-twitter.svg?v=2"
                                                alt=""><span
                                                class="btn-share-text btn-share-text-modal mx-2">ツイート</span></a>
                                    </div>
                                    <div class="d-flex justify-content-between mb-2"><span data-share_target="line"
                                            data-share_url="https://line.me/R/msg/text/?%E3%81%82%E3%81%AA%E3%81%9F%E3%81%8C%E7%AA%81%E7%84%B6%E5%A5%BD%E3%81%8D%E3%81%AA%E4%BA%BA%E3%81%AB%E3%80%8E%E3%81%8E%E3%82%85%E3%83%BC%E3%81%A3%E3%81%A6%E3%81%97%E3%81%A6%E3%81%84%E3%81%84%EF%BC%9F%E3%80%8F%E3%81%A3%E3%81%A6%E8%A8%80%E3%82%8F%E3%82%8C%E3%81%9F%E3%83%BC%0A%23shindanmaker%0Ahttps%3A%2F%2Fshindanmaker.com%2F181846%3Fc%3D1"
                                            class="flex-fill share-to pointer-events-auto text-center btn-line btn-share "><img
                                                class="btn-share-icon btn-share-icon-line"
                                                src="https://dkhhsjgarvlsj.cloudfront.net/img/share/share-icon-line.svg?v=2"
                                                alt=""><span
                                                class="btn-share-text btn-share-text-modal mx-2">LINE</span></span>
                                    </div>
                                    <div class="d-flex justify-content-between mb-2"><span data-share_target="facebook"
                                            data-share_url="https://www.facebook.com/dialog/share?app_id=147796168636285&quote=%E3%81%82%E3%81%AA%E3%81%9F%E3%81%8C%E7%AA%81%E7%84%B6%E5%A5%BD%E3%81%8D%E3%81%AA%E4%BA%BA%E3%81%AB%E3%80%8E%E3%81%8E%E3%82%85%E3%83%BC%E3%81%A3%E3%81%A6%E3%81%97%E3%81%A6%E3%81%84%E3%81%84%EF%BC%9F%E3%80%8F%E3%81%A3%E3%81%A6%E8%A8%80%E3%82%8F%E3%82%8C%E3%81%9F%E3%83%BC%0A%23shindanmaker&display=popup&href=https%3A%2F%2Fshindanmaker.com%2F181846%3Fc%3D1&redirect_uri=https%3A%2F%2Fshindanmaker.com%2F181846%3Fc%3D1"
                                            class="flex-fill share-to pointer-events-auto text-center btn-facebook btn-share "><img
                                                class="btn-share-icon btn-share-icon-facebook"
                                                src="https://dkhhsjgarvlsj.cloudfront.net/img/share/share-icon-facebook.svg?v=2"
                                                alt=""><span
                                                class="btn-share-text btn-share-text-modal mx-2">facebook</span></span>
                                    </div>
                                    <div class="d-flex justify-content-between mb-2"><span data-share_target="mastodon"
                                            data-share_url="https://mastoshare.net/post.php?text=%E3%81%82%E3%81%AA%E3%81%9F%E3%81%8C%E7%AA%81%E7%84%B6%E5%A5%BD%E3%81%8D%E3%81%AA%E4%BA%BA%E3%81%AB%E3%80%8E%E3%81%8E%E3%82%85%E3%83%BC%E3%81%A3%E3%81%A6%E3%81%97%E3%81%A6%E3%81%84%E3%81%84%EF%BC%9F%E3%80%8F%E3%81%A3%E3%81%A6%E8%A8%80%E3%82%8F%E3%82%8C%E3%81%9F%E3%83%BC%0A%23shindanmaker%0Ahttps%3A%2F%2Fshindanmaker.com%2F181846%3Fc%3D1"
                                            class="flex-fill share-to pointer-events-auto text-center btn-mastodon btn-share "><img
                                                class="btn-share-icon btn-share-icon-mastodon"
                                                src="https://dkhhsjgarvlsj.cloudfront.net/img/share/share-icon-mastodon.svg?v=2"
                                                alt=""><span
                                                class="btn-share-text btn-share-text-modal mx-2">mastodon</span></span>
                                    </div>
                                    <div class="d-flex justify-content-between mb-2"><span data-share_target="mixi"
                                            data-share_url="https://mixi.jp/simplepost/voice?status=%E3%81%82%E3%81%AA%E3%81%9F%E3%81%8C%E7%AA%81%E7%84%B6%E5%A5%BD%E3%81%8D%E3%81%AA%E4%BA%BA%E3%81%AB%E3%80%8E%E3%81%8E%E3%82%85%E3%83%BC%E3%81%A3%E3%81%A6%E3%81%97%E3%81%A6%E3%81%84%E3%81%84%EF%BC%9F%E3%80%8F%E3%81%A3%E3%81%A6%E8%A8%80%E3%82%8F%E3%82%8C%E3%81%9F%E3%83%BC%0A%23shindanmaker%0Ahttps%3A%2F%2Fshindanmaker.com%2F181846%3Fc%3D1"
                                            class="flex-fill share-to pointer-events-auto text-center btn-mixi btn-share "><img
                                                class="btn-share-icon btn-share-icon-mixi"
                                                src="https://dkhhsjgarvlsj.cloudfront.net/img/share/share-icon-mixi.svg?v=2"
                                                alt=""><span
                                                class="btn-share-text btn-share-text-modal mx-2">mixi</span></span>
                                    </div>
                                </div>
                                <div class="modal-footer"><button type="button" class="btn btn-light"
                                        data-dismiss="modal">閉じる</button></div>
                            </div>
                        </div>
                    </div>
                    <div id="shindanFormBlock" class="px-3 mb-3"><span id="shindanFormTitle"
                            class="h4 d-block text-center font-weight-bold py-3 px-2 mb-0"> 診断したい名前を入れて下さい </span>
                        <div id="shindanFormMain" class="py-3 px-3 text-center">
                            <form action="/result" autocomplete="off">
                                    <div>
                                        <input id="shindanInput" name="field" maxlength="100" class="form-control form-control-lg mb-2"
                                        type="text" placeholder="なまえ"><input type="submit"
                                        class="btn btn-primary btn-block btn-lg shindanButton" formmethod="POST"
                                        value="診断する">
                                    </div>
                            </form>
                        </div>
                    </div>
                    <div id="ad_shindan120" class="ads_rect text-center mb-3">
                        <div id="div-gpt-ad-1618979053836-0" data-google-query-id="CLDF2YGswPcCFaaB6QUdWj4F0w">
                            <div id="google_ads_iframe_/5794834/ShindanMaker/shindan120_0__container__"
                                style="border: 0pt none; visibility: visible; min-width: 100%;">
                                <div class="creative">
                                    <div class="image-container">
                                        <img class="image" src="static/image/shindan_ad2.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="ad_common80" class="text-center">
                </div>
                <div id="foot" class="foot pt-3">
                    <div class="px-3 mb-3">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="d-flex justify-content align-content-center">
                                    <div class="w-50 flex-fill my-auto mr-3"><span>あなたのオリジナル診断をつくろう！</span></div>
                                    <div class="w-50 flex-fill"><a href="https://shindanmaker.com/create"
                                            class="btn btn-block btn-lg btn-info"><i
                                                class="fal fa-pen-square mr-2"></i>診断を作る</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mx-3 alert alert-info mb-4"><a class="alert-link"
                            href="https://shindanmaker.com/articles/kd2ONxlGVzlQZvAo"><i
                                class="fal fa-info-circle fa-fw mr-1"></i>書式設定機能をリリースしました</a></div>
                    <div id="foot-container" class="px-3">
                        <div id="foot-menu" class="row">
                            <div class="col-sm-4">
                                <h2 class="h6 font-weight-bold"><i class="fas fa-bars fa-fw mr-1"></i>メニュー</h2>
                                <ul class="list-unstyled">
                                    <li><a href="https://shindanmaker.com/login">ログイン</a></li>
                                    <li><a href="https://shindanmaker.com">ホーム</a></li>
                                    <li><a href="https://shindanmaker.com/create">診断を作る</a></li>
                                    <li><a href="https://shindanmaker.com/timeline">みんなのつぶやき</a></li>
                                    <li><a href="https://shindanmaker.com/articles">お知らせ</a></li>
                                    <li><a href="https://shindanmaker.com/about">サイトについて(Q&amp;A)</a></li>
                                    <li><a href="https://shindanmaker.com/ads">広告掲載について</a></li>
                                    <li><a href="https://shindanmaker.com/twitterTrends">Twitterトレンド</a></li>
                                    <li><a
                                            href="https://shindanmaker.com/twitterAccountCompromised">Twitterで乗っ取りをされたら</a>
                                    </li>
                                    <li><a href="https://shindanmaker.com/terms_of_service">利用規約</a></li>
                                    <li><a href="https://shindanmaker.com/privacy_policy">プライバシーポリシー</a></li>
                                    <li><a href="https://shindanmaker.com/puzzle">パズル</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-4 mb-3">
                                <h2 class="h6 font-weight-bold"><i class="fas fa-th-list fa-fw mr-1"></i>診断一覧</h2>
                                <form class="form mb-2" method="GET" action="https://shindanmaker.com/list/search">
                                    <div class="form-group mb-0">
                                        <div class="input-group"><input type="text" class="form-control form-control-sm"
                                                name="q" placeholder="診断検索">
                                            <div class="input-group-append"><button type="submit"
                                                    class="btn btn-sm btn-secondary"><i
                                                        class="fas fa-search mr-1"></i>検索</button></div>
                                        </div>
                                    </div>
                                </form>
                                <ul class="list-unstyled">
                                    <li><a href="https://shindanmaker.com/list">HOT診断</a></li>
                                    <li><a href="https://shindanmaker.com/list/pickup">PICKUP診断</a></li>
                                    <li><a href="https://shindanmaker.com/list/latest">新着診断</a></li>
                                    <li><a href="https://shindanmaker.com/list/daily">日別ランキング</a></li>
                                    <li><a href="https://shindanmaker.com/list/monthly">月別ランキング</a></li>
                                    <li><a href="https://shindanmaker.com/list/chart">チャート系診断</a></li>
                                    <li><a href="https://shindanmaker.com/list/pic">画像系診断</a></li>
                                    <li><a href="https://shindanmaker.com/list/mov">動画系診断</a></li>
                                    <li><a href="https://shindanmaker.com/list/favorite">お気に入り</a></li>
                                    <li><a href="https://shindanmaker.com/list/favhot">お気に入りHOT</a></li>
                                    <li><a href="https://shindanmaker.com/list/overall">総合ランキング</a></li>
                                    <li><a href="https://shindanmaker.com/list/themes">人気のテーマ</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-4 mb-3">
                                <h2 class="h6 font-weight-bold"><i class="fas fa-users fa-fw mr-1"></i>作者一覧</h2>
                                <ul class="list-unstyled">
                                    <li><a href="https://shindanmaker.com/creators">HOTな作者さん</a></li>
                                    <li><a href="https://shindanmaker.com/creators/daily">作者さん日別ランキング</a></li>
                                    <li><a href="https://shindanmaker.com/creators/overall">作者さん総合ランキング</a></li>
                                </ul>
                                <ul class="list-unstyled mb-2">
                                    <li class="mb-2"><a class="btn btn-sm btn-twitter text-white"
                                            href="https://twitter.com/intent/follow?screen_name=shindanmaker"><i
                                                class="fab fa-twitter fa-fw mr-1"></i>@shindanmakerをフォロー</a></li>
                                    <li class="mb-2"><a href="https://line.me/R/ti/p/%40jrl1503r"><img height="30"
                                                alt="友だち追加"
                                                data-src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"
                                                class="lazyload"></a></li>
                                </ul>
                                <div class="dropdown mb-2"><button class="btn btn-dark dropdown-toggle" type="button"
                                        id="dropdownChangeLocale" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false"><i class="fal fa-language fa-fw mr-1"></i>日本語(Japanese)
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownChangeLocale"><a
                                            class="dropdown-item active "
                                            href="https://shindanmaker.com/181846">日本語(Japanese)</a><a
                                            class="dropdown-item "
                                            href="https://en.shindanmaker.com/181846">English</a><a
                                            class="dropdown-item "
                                            href="https://cn.shindanmaker.com/181846">中文(Chinese)</a><a
                                            class="dropdown-item "
                                            href="https://kr.shindanmaker.com/181846">한국의(Korean)</a><a
                                            class="dropdown-item "
                                            href="https://th.shindanmaker.com/181846">ภาษาไทย(Thai)</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="ad_common90" class="text-center foot pb-3">
                    <div id="div-gpt-ad-1618972679837-0">
                        <script> googletag.cmd.push(function () { googletag.display('div-gpt-ad-1618972679837-0'); }); </script>
                    </div>
                </div>
                <div id="site-info" class="pt-3 text-center px-3 small"><i class="fal fa-copyright fa-fw "></i> 2022
                    診断メーカー<i class="fal fa-registered fa-fw ml-1"></i> All Rights Reserved. </div>
            </div>
            <div id="toast-container"></div>
            <div class="modal fade" id="modal-common" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal-common-title"></h5><button type="button" class="close"
                                data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body" id="modal-common-body"></div>
                        <div class="modal-footer"><button type="button" class="btn btn-light"
                                data-dismiss="modal">閉じる</button><span id="modal-common-btn" class="ml-2"></span></div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="needLoginModal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title h5">ログインが必要です</h2><button type="button" class="close"
                                data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <p> こちらの機能を利用するにはログインする必要があります。 </p><a href="https://shindanmaker.com/login"
                                class="btn btn-primary btn-block btn-md"><i class="fal fa-sign-in-alt mr-2"></i>ログイン</a>
                        </div>
                        <div class="modal-footer"><button type="button" class="btn btn-light"
                                data-dismiss="modal">閉じる</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-user" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-body px-0 pb-0"><button type="button" class="close mr-3" data-dismiss="modal"
                                aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <div id="modal-user-card"></div>
                        </div>
                        <div class="modal-footer"><button type="button" class="btn btn-light"
                                data-dismiss="modal">閉じる</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-favorite" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title h5 text-break"><span id="modal-favorite-title"></span></h2><button
                                type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div id="modal-favorite-body" class="modal-body px-0"></div>
                        <div class="modal-footer"><button type="button" class="btn btn-light"
                                data-dismiss="modal">閉じる</button><span id="modal-favorite-btn"></span></div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-terms_of_service" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title h5">利用規約</h2><button type="button" class="close" data-dismiss="modal"
                                aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div id="modal-terms_of_service-body" class="modal-body"></div>
                        <div class="modal-footer"><button type="button" class="btn btn-light"
                                data-dismiss="modal">閉じる</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-privacy_policy" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title h5">プライバシーポリシー</h2><button type="button" class="close"
                                data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div id="modal-privacy_policy-body" class="modal-body"></div>
                        <div class="modal-footer"><button type="button" class="btn btn-light"
                                data-dismiss="modal">閉じる</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 右側のコンテンツ -->
        <div class="side">
            <img src="static/image/hukidashi.jpg">
            <h3><b>診断したい名前</b>に好きな名前を入れて<br><b>診断する</b>を押してみよう！</h3>
            <img src="static/image/charc.png">
            
        </div>
    </div>
</body>

</html>