<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <title>p-semi 最終課題 C班</title>
    <link rel="stylesheet" href="static/css/top.css">
    <script>
        (function (d) {
            var config = {
                kitId: 'ydn4scx',
                scriptTimeout: 3000,
                async: true
            },
                h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
        })(document);
    </script>
    <script>
        (function (d) {
            var config = {
                kitId: 'ydn4scx',
                scriptTimeout: 3000,
                async: true
            },
                h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
        })(document);
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg" style="background-color:rgba(58, 58, 58, 0.836);" fixed-top>
        <!-- .container-fluid -->
        <div class="container-fluid">
            <!-- ロゴ-->
            <a class="navbar-brand" href="">
                <img src="static/image/nav_logo.png" alt="ブランド" width="300rem" class="d-inline-block align-top">
            </a>
            <div class="collapse navbar-collapse justify-content-end" id="Navber">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="">Member</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://tdu-isl.github.io/home/">ISL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Links</a>
                    </li>
            </div>
            <!-- /.navbar-->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <main>
        <div class="container-main">
            <div class="text-center">
                攻撃を疑似体験
            </div>
        </div>
        <div class="container-text">
            <div class="text-center">
                年々増加傾向にある<br>フィッシングサイトによる詐欺やパスワード搾取<br>その脅威はすでに身近なところに存在します
            </div>
        </div>
        <div class="container-text2">
            <div class="text-center">
                他人事だと思っているあなたも<br><span style="font-size:27px;">標的の一人かもしれません
            </div>
        </div>
        <div class="container-text3">
            <div class="text-center">
                実際に被害にあう前に<br>疑似体験を行う事で<br>被害にあわないように対策を行いましょう
            </div>
        </div>
        <div class="container-button">
            <div class="text-center">
                <b>フィッシング詐欺体験</b><br>
                <a class="btn btn-outline-secondary btn-lg" href="/shindan" type="button">Try it</a>
            </div>
        </div>
    </main>
</body>

</html>